In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

movie_data = pd.read_csv("clean_movie_data.csv")
clean_data_df = pd.DataFrame(movie_data)

In [4]:
clean_data_df

,Poster,Title,Year,Certificate,Duration (min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review
0,https://m.media-amazon.com/images/M/MV5BYWRkZj...,The Idea of You,2023.0,R,115.0,"Comedy, Drama, Romance",6.4,67.0,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...","28,744","Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,https://m.media-amazon.com/images/M/MV5BZGI4NT...,Kingdom of the Planet of the Apes,2023.0,PG-13,145.0,"Action, Adventure, Sci-Fi",7.3,66.0,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...","22,248","Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,https://m.media-amazon.com/images/M/MV5BZjIyOT...,Unfrosted,2023.0,PG-13,97.0,"Biography, Comedy, History",5.5,42.0,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...","18,401","In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,https://m.media-amazon.com/images/M/MV5BMjA5Zj...,The Fall Guy,2023.0,PG-13,126.0,"Action, Comedy, Drama",7.3,73.0,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...","38,953",A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,https://m.media-amazon.com/images/M/MV5BNTk1MT...,Challengers,2023.0,R,131.0,"Drama, Romance, Sport",7.7,82.0,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...","32,517","Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6399,https://m.media-amazon.com/images/M/MV5BNjFjYm...,The Masque of the Red Death,2020.0,A,89.0,"Drama, Horror",6.9,77.0,Roger Corman,"Vincent Price, Hazel Court, Jane Asher, David ...","16,302",A European prince terrorizes the local peasant...,109,Price at his Most Wicked!,Roger Corman has done an outstanding job with ...
6400,https://m.media-amazon.com/images/M/MV5BMzRkNj...,South Central,2020.0,R,98.0,"Crime, Drama",6.8,64.0,Stephen Milburn Anderson,"Glenn Plummer, Byron Minns, Lexie Bigham, Vinc...","6,730",A former gangster fresh out of prison wants to...,20,"""South Central was adapted from my novel ""Sout...",I would like to thank all of the fans and supp...
6401,https://m.media-amazon.com/images/M/MV5BNmRhZW...,Mutiny on the Bounty,2020.0,U,132.0,"Adventure, Biography, Drama",7.6,87.0,Frank Lloyd,"Charles Laughton, Clark Gable, Franchot Tone, ...","24,899",First mate Fletcher Christian leads a revolt a...,112,"Our Favorite ""Mutiny"": April 28, 1789",Although the versions with Marlon Brando and T...
6402,https://m.media-amazon.com/images/M/MV5BMzg5MW...,The Greatest Show on Earth,2020.0,U,152.0,"Drama, Family, Romance",6.5,76.0,Cecil B. DeMille,"James Stewart, Charlton Heston, Betty Hutton, ...","16,078","The dramatic lives of trapeze artists, a clown...",128,"Hey, doesn't anyone remember Last Emperor?",It constantly amazes me that people carp that ...
6403,https://m.media-amazon.com/images/M/MV5BMTAwOD...,Loving Pablo,2020.0,A,123.0,"Biography, Crime, Drama",6.4,42.0,Fernando León de Aranoa,"Javier Bardem, Penélope Cruz, Peter Sarsgaard,...","22,447",A journalist strikes up a romantic relationshi...,84,That film should be in Spanish,Why anyone (the director?) made Spanish actors...

In [6]:
temp_df = clean_data_df['Genre'].str.split(',' , expand=True)

In [10]:
temp_df.columns = ["Genre_1", "Genre_2", "Genre_3"]

In [12]:
temp_df

        Genre_1     Genre_2   Genre_3
0        Comedy       Drama   Romance
1        Action   Adventure    Sci-Fi
2     Biography      Comedy   History
3        Action      Comedy     Drama
4         Drama     Romance     Sport
...         ...         ...       ...
6399      Drama      Horror      None
6400      Crime       Drama      None
6401  Adventure   Biography     Drama
6402      Drama      Family   Romance
6403  Biography       Crime     Drama

[6404 rows x 3 columns]

In [14]:
clean_data_df = clean_data_df.join(temp_df)

In [20]:
clean_data_df.drop(columns = ["Genre"], inplace = True)

In [39]:
clean_data_df['Genre_1'].unique()

array(['Comedy', 'Action', 'Biography', 'Drama', 'Horror', 'Adventure',
       'Crime', 'Animation', 'Fantasy', 'Thriller', 'Mystery', 'Sci-Fi',
       'Documentary', 'Music', 'Film-Noir', 'Romance', 'History',
       'Family'], dtype=object)