In [25]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

clean_movie_data = pd.read_csv("clean_movie_data.csv")

clean_movie_data.describe()

              Year  Duration (min)       Rating    Metascore
count  6404.000000     6404.000000  6404.000000  6404.000000
mean   2006.289975      110.068395     6.548782    57.363991
std      18.284315       19.477238     0.938561    17.629282
min    1929.000000       55.000000     1.900000     1.000000
25%    1997.000000       97.000000     6.000000    45.000000
50%    2012.000000      107.000000     6.600000    57.000000
75%    2021.000000      119.000000     7.200000    70.000000
max    2025.000000      321.000000     9.300000   100.000000

In [27]:
#Grabbing our two values we are measuring
rating_averages = clean_movie_data[["Certificate", "Rating"]]
rating_averages

     Certificate  Rating
0              R     6.4
1          PG-13     7.3
2          PG-13     5.5
3          PG-13     7.3
4              R     7.7
...          ...     ...
6399           A     6.9
6400           R     6.8
6401           U     7.6
6402           U     6.5
6403           A     6.4

[6404 rows x 2 columns]

In [29]:
#Converting to a dataframe
movie_data_df = pd.DataFrame(clean_movie_data)

#Calculating our average based on Cerificate rating
average_rating = movie_data_df.groupby('Certificate')['Rating'].mean()
average_rating

Certificate
(Banned)     6.570000
12           6.000000
12+          6.815385
13           6.452174
15+          6.424000
16           6.526667
16+          6.300000
18           6.457738
18+          4.550000
7            6.625000
A            6.628869
All          6.441667
G            7.046667
GP           7.400000
NC-17        5.750000
Not Rated    6.733088
PG           6.380100
PG-13        6.265789
R            6.402868
U            6.745550
U/A          7.650000
U/A 16+      5.800000
UA           6.623105
UA 13+       6.233333
UA 16+       6.389130
UA 7+        5.961111
Unrated      6.966667
Name: Rating, dtype: float64

In [33]:
#Plotting graphs and visualization
x_axis = np.array(len(movie_data_df))
y_axis =

TypeError: iteration over a 0-d array