In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

movie_data = pd.read_csv("clean_movie_data.csv")
clean_data_df = pd.DataFrame(movie_data)

In [3]:
clean_data_df.columns

Index(['Poster', 'Title', 'Year', 'Certificate', 'Duration (min)', 'Genre',
       'Rating', 'Metascore', 'Director', 'Cast', 'Votes', 'Description',
       'Review Count', 'Review Title', 'Review'],
      dtype='object')

In [5]:
rating_df = clean_data_df[['Title', 'Certificate', 'Rating', 'Metascore']]
sorted_rating_df = rating_df.sort_values('Rating')
sorted_rating_df

,Title,Certificate,Rating,Metascore
2398,Disaster Movie,PG-13,1.9,15.0
4806,The Hottie & the Nottie,PG-13,2.0,7.0
3480,Son of the Mask,U,2.3,20.0
6178,Alone in the Dark,A,2.4,9.0
2185,Epic Movie,U,2.4,17.0
...,...,...,...,...
266,12 Angry Men,U,9.0,97.0
94,The Lord of the Rings: The Return of the King,U,9.0,94.0
100,Schindler's List,A,9.0,95.0
43,The Godfather,A,9.2,100.0
56,The Shawshank Redemption,A,9.3,82.0

In [7]:
sorted_rating_df["ScaledRating"] = sorted_rating_df["Rating"]*10
sorted_rating_df

,Title,Certificate,Rating,Metascore,ScaledRating
2398,Disaster Movie,PG-13,1.9,15.0,19.0
4806,The Hottie & the Nottie,PG-13,2.0,7.0,20.0
3480,Son of the Mask,U,2.3,20.0,23.0
6178,Alone in the Dark,A,2.4,9.0,24.0
2185,Epic Movie,U,2.4,17.0,24.0
...,...,...,...,...,...
266,12 Angry Men,U,9.0,97.0,90.0
94,The Lord of the Rings: The Return of the King,U,9.0,94.0,90.0
100,Schindler's List,A,9.0,95.0,90.0
43,The Godfather,A,9.2,100.0,92.0
56,The Shawshank Redemption,A,9.3,82.0,93.0

In [9]:
sorted_rating_df.to_csv("./Rating_csvs/All_ratings.csv", index=False, header=True)

In [11]:
sorted_rating_df['Certificate'].unique()

array(['PG-13', 'U', 'A', 'R', '18', 'UA', 'PG', 'Not Rated', 'UA 7+',
       '18+', '(Banned)', '13', '15+', 'UA 16+', '7', 'NC-17', '16',
       '12+', 'G', 'UA 13+', 'All', 'U/A 16+', '12', '16+', 'Unrated',
       'GP', 'U/A'], dtype=object)

In [55]:
only_pg13 = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "PG-13", :]
only_pg13_df = pd.DataFrame(only_pg13)
pg_13_sample = only_pg13_df.sample(n=50)
pg_13_sample.to_csv("./Rating_csvs/pg13_ratings.csv", index=False, header=True)

In [17]:
only_r = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "R", :]
only_r_df = pd.DataFrame(only_r)
r_sample = only_r_df.sample(n=50)
r_sample.to_csv("./Rating_csvs/r_ratings.csv", index=False, header=True)

In [19]:
only_pg = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "PG", :]
only_pg_df = pd.DataFrame(only_pg)
pg_sample = only_pg_df.sample(n=50)
pg_sample.to_csv("./Rating_csvs/pg_ratings.csv", index=False, header=True)

In [37]:
only_g = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "G", :]
only_g_df = pd.DataFrame(only_g)
only_g_df.to_csv("./Rating_csvs/g_ratings.csv", index=False, header=True)

In [45]:
only_18_plus = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "18+", :]
only_18_plus_df = pd.DataFrame(only_18_plus)
only_18_plus_df
only_18_plus_df.to_csv("./Rating_csvs/18plus_ratings.csv", index=False, header=True)

In [49]:
only_U = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "U", :]
only_U_df = pd.DataFrame(only_U)
U_sample = only_U_df.sample(n=50)
U_sample.to_csv("./Rating_csvs/U_ratings.csv", index=False, header=True)

In [53]:
only_UA = sorted_rating_df.loc[sorted_rating_df["Certificate"] == "UA", :] 
only_UA_df = pd.DataFrame(only_UA)
UA_sample = only_UA_df.sample(n=50)
UA_sample.to_csv("./Rating_csvs/UA_ratings.csv", index=False, header=True)