In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
movie_data = pd.read_csv("imdb-movies-dataset.csv")
movie_data_df = pd.DataFrame(movie_data)
movie_data_df.describe()

              Year  Duration (min)       Rating    Metascore
count  9850.000000     9664.000000  9596.000000  7555.000000
mean   2005.761421      108.809603     6.438610    58.068299
std      18.958005       23.159749     1.051412    17.845240
min    1929.000000       45.000000     1.300000     1.000000
25%    1997.000000       95.000000     5.800000    45.500000
50%    2012.000000      105.000000     6.500000    58.000000
75%    2021.000000      118.000000     7.200000    71.000000
max    2025.000000      746.000000     9.700000   100.000000